.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 600px;
    margin-right: 60%;
    background-color: rgba(250, 244, 242, 0.952);
}

.form-container {
    flex: 0 0 45%;
    text-align: center;
    background-color:rgba(250, 244, 242, 0.952);
}

.enrollments {
    flex: 0 0 45%;
    background-color:  rgba(250, 244, 242, 0.952);
}

.form-group {
    margin-bottom: 20px;
    width: 300px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.submit-btn {
    background-color: #161449;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.enrollment-item {
    margin-bottom: 15px;
}

body{
    background-attachment: fixed;
    background-color:rgba(250, 244, 242, 0.952);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.rest{
    position: absolute;
    width: 900px;
    height: 920px;
    left: 40%;
    top:0%;
    text-align:right;
    background-image: url("https://www.nmit.ac.in/img/youtube-thumb/3.jpg");
    background-repeat: no-repeat;
    
   }